.intro__list {
    max-width: 690px;
    list-style-type: none;
    line-height: 18px;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    }

    @media screen and (max-width: 2440px) {
        .intro__list {
          padding-top: 32px;
        }
      }



