.places-grid__url{
font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
font-weight: 500px;
font-size: 12px;
line-height: 20px;
letter-spacing: 0.2em;
color: #aaaaaa
}

@media screen and (max-width: 1024px){
    .places-grid__url{
    line-height: 12px;
    }
}