.places-grid__img {
    grid-area: img;
    width: 100%;
    }
    
        @media screen and (max-width: 640px) {
        
          .places-grid__img {
          justify-self: start;
          }
    }