@import url(./__card/places-grid__card.css);
@import url(./__img/places-grid__img.css);
@import url(./__section-title/places-grid__section-title.css);
@import url(./__link/places-grid__link.css);
@import url(./__paragraph/places-grid__paragraph.css);
@import url(./__textbox/places-grid__textbox.css);
@import url(./__url-box/places-grid__url-box.css);
@import url(./__url/places-grid__url.css);
.places-grid {
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
    width: 100%;
    max-width: 984px;
    margin: 0 auto;
    box-sizing: border-box;
    margin-bottom: 92px;
    }
    
    @media screen and (max-width: 1024px) {
        .places-grid{
        max-width: 928px;
        }
    }
        @media screen and (max-width: 600px) {
            .places-grid{
            max-width: 600px;
            }
      
        } 
    
        
    @media screen and (max-width: 768px) {
        .places-grid{
        max-width: 768px;
        padding-left: 24px;
        padding-right: 24px;
        margin-bottom: 88px;
        }
  
    } 
    @media screen and (max-width: 600px) {
        .places-grid{
        max-width: 640px;
        margin-bottom: 64px;
        padding: 0;
        }
  
    } 

    @media screen and (max-width: 325px) {
        .places-grid{
        max-width: 325px;
        }
    } 