.lead__image {
    width: 100%;
    padding-top: 64px;
    max-width: 984px;
    object-fit: cover;
    }
    

    @media screen and (max-width: 1024px) {
        .lead__image {
          max-width: 928px;
          
        }
    }
    @media screen and (max-width: 768px) {
        .lead__image{
          max-width: 768px;
        }
    }
    @media screen and (max-width: 450px) {
      .lead__image{
        max-width: 450px;
      }
  }
  @media screen and (max-width: 546px) {
    .lead__image{
      max-width: 546px;
    }
}
    @media screen and (max-width: 320px) {

        .lead__image {
          max-width: 320px;
        }
    }