.place__images {
    max-width: 460px;
    width: 100%;
    grid-row: span 2;
    grid-row-start: 2;
    grid-column-start: 1;
}
@media screen and (max-width: 320px) {
    .place__images {
        grid-row-start: 3;
    }
}