.place__link {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
    margin: 0;
    transition-duration: .5s;
    opacity: 1;
}

.place__link:hover {
    opacity: 1;
}