.places-grid__url-box{
    grid-area: url;
    align-self: end;
    color: grey;
    
    }

    @media screen and (max-width: 640px) {
     .places-grid__url-box {
            display: none;
        }
    }
    