.footer__list-item{
list-style-type: none;
margin: 0;
margin-right: 18px;
}
.footer__list-item:last-child(){
    list-style-type: none;
    margin-right: 0;
    }

@media screen and (max-width: 490px) {

    .footer__list-item {
    margin-top: 32px;

    }
    .footer__list-item:first-child{
        margin-top: 0;
    }
} 